#!/usr/bin/make -f

# output every command that modifies files on the build system.
# export DH_VERBOSE = 1
# make debhelper commands more verbose
# export DH_OPTIONS = -v

%:
	dh $@

override_dh_auto_configure:
	mkdir -p build/data
	make download
	make generate

override_dh_auto_test:
	@echo Skipping tests

override_dh_auto_install:
	mkdir -p debian/k3s/usr/sbin/
	mkdir -p debian/k3s/etc/rancher/k3s/ 
	mkdir -p debian/k3s/lib/systemd/system/ 
	install -m 0755 dist/artifacts/k3s debian/k3s/usr/sbin/ 
	ln -sf debian/k3s/usr/sbin/k3s debian/k3s/usr/sbin/kubectl 
	ln -sf debian/k3s/usr/sbin/k3s debian/k3s/usr/sbin/crictl 
	ln -sf debian/k3s/usr/sbin/k3s debian/k3s/usr/sbin/ctr 
	install -m 0644 k3s.service debian/k3s/lib/systemd/system/ 
